.foodCardContainer {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.selectedFoodItem {
  padding: 4px;
  padding-left: 54px;
}

.foodItem {
  padding: 4px;
}

.foodName {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
}

.foodImage {
  height: 200px;
  width: 300px;
}
