.foodCardContainer {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  animation: fadeInLoad 0.5s;
}

@keyframes fadeInLoad {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.foodItem {
  padding: 4px;
}

.foodName {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
}

.foodImage {
  max-height: 100%;
  max-width: 100%;
}
