.mainContainer {
}

.bgImage {
  transition: 0.5s filter ease-in-out;
  position: fixed;
  z-index: -1;
  max-width: 100vw;
}

.bgImageActive {
  @extend .bgImage;
  filter: blur(2px) brightness(30%);
}

