@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

body {
  background-color: black;
  overflow-y: hidden;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

.bgImage {
  position: fixed;
  z-index: -99;
  max-width: 100vw;
  .active {
    opacity: 0.25;
    filter: blur(2px);
  }
}
