.pill,
.pill:active,
.pill:focus,
.pill:active:focus,
.pill:visited,
.pill:hover {
  border-color: white;
  box-shadow: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.01);
}

